*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header nav{
    width: 100%;
    height: 75px; 
    background-color:rgb(52, 92, 147);
    color: rgb(245, 248, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo{
    font-size: larger;
    font-weight: bold;
}
.menu{
    width:65%;
    display: flex;
    justify-content: right;
    list-style: none;
}
.menu li{
    margin-left: 20px;
}
.menu li a{
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.menu li a:hover{
    color: #333;
}
.search{
    display: flex;
    align-self: center;
    margin-right: 0;
}
.search form{
    margin: 0;
    display: flex;
}
.search input{
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}
.search:hover{
    border: 1px solid #333;
}
.search button{
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 19px;
    cursor: pointer;
}
.search button:hover{
    color: #ccc;}
body{
       width: 100%;
       min-height: 100vh;
        background-image:url(img.jpg);
        background-size: cover;
        background-position: center;
        
    }
    .content{
        padding-top: 14%;
        color:#fff;
        max-width: 620px;
     
    }
    .content h2{
        font-size: 70px;
        font-weight: 600;
        line-height: 85px;
        margin-bottom: 25px;
    }
    .content h2:hover{
        color: rgb(251, 64, 167);
    }
    .content p:hover{
        color: rgb(255, 63, 83);
    }
    .content form{
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-top: 30px;
    }
    .content form input{
        border: 0;
        outline: 0;
        width: 100%;
        font-size: 16px;
        padding-left: 10%;
    }
    .content form .btn{    
        font-size: 15px;
        padding: 10px 30px;
        background-color: rgb(254, 10, 91);
    }
    