body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #151414;
}

.container {
    max-width: 30%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    margin-bottom: 20px;
}

.row {
    width: 100%
}

.cell {
    width: 150px;
    height: 100px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    margin: 1px;
}

.cell:hover {
    background-color: #c0c0c0;
}

#status {
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
h1{
    background-color: #cde8d2;
}